<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QJWebImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F2D66C1F1ECED09800D5D631</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2D66C3B1ECED09800D5D631</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2D66C461ECED09800D5D631</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
